
.auth_css{
  display: flex;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: midnightblue;
  height: 500px;
  width: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.auth_css a{
  padding: 0;
  color: lightblue;
  text-decoration: underline;
}

.auth_css h5{
  padding: 0;
  display: inherit;
}

.auth_css #redirect_auth{
  padding: 6px;
}
