/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 23px;
  top: 30px;
}

/* Cor do icone de burger */
.bm-burger-bars {
  background: gold;
}

/*  Cor do icone de burger em hover*/
.bm-burger-bars-hover {
  background: orange;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  background: blue;
}

/* cor de background do sidebar */
.bm-menu {
  background: gray;
  padding: 2.5em 0.2em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: green;
}

/* Wrapper for item list */
.bm-item-list {
  color: orange;
  /* padding: 0.8em; */
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* ----------< Account Details >---------- */

.accountDetailsPhoto {
  border-radius: 50%;
  width: 55%;
  display: flex;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.accountDetailsText {
  font-size: medium;
  text-align: center;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  padding-bottom: 10px;
}

#faculdade{
  padding-bottom: 10px;
  /* background-color: black; */
}