/* body {
    display: flex;
    align-items: center;
    justify-content: center;
} */


.error{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 40vw;
  width: 70vw;
  margin: auto;
  background-color: midnightblue;
  color: skyblue;
  border-radius: 15px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.error h1{
  margin: 0 auto;
}
