
:root{

  /* Valores de teste */
  /* --materia_field_bg_color: aqua;
  --filter_field_bg_color: #922922;
  --container_grid_aulas: darkblue;
  --hora_aula_field: blue;
  --hora_aula_label_field: green;
  --button_base_color:crimson;
  --button_hovered:green; */


  --materia_field_bg_color: null;
  --materia_especial_field_bg_color:skyblue;
  --filter_field_bg_color: null;
  --container_grid_aulas: darkblue;
  --hora_aula_field: blue;
  --hora_aula_label_field: darkgreen;
  --button_base_color:crimson;
  --button_hovered:green;
  --button_base_color_disabled: rgba(110, 117, 119, 0.829);

  --primary_button_bg_color:#839dd1;
  --primary_button_color:#000;
  --primary_button_hovered: #6a7fc1;
  --primary_button_active: #6374ae;
  --primary_button_disabled:#e7f0f8;
  --primary_button_color_disabled:#9cb6dd;

  --waikawa-gray-50: #f2f7fb;
--waikawa-gray-100: #e7f0f8;
--waikawa-gray-200: #d3e2f2;
--waikawa-gray-300: #b9cfe8;
--waikawa-gray-400: #9cb6dd;
--waikawa-gray-500: #839dd1;
--waikawa-gray-600: #6a7fc1;
--waikawa-gray-700: #6374ae;
--waikawa-gray-800: #4a5989;
--waikawa-gray-900: #414e6e;
--waikawa-gray-950: #262c40;


} 

.Clickable-field{
  display: flex;
  background-color: var(--waikawa-gray-600);
  border-radius: 15px;
  height: 6vh;
  width: 10.8vw;
  margin: 10px 11px 10px 11px;
  border-color: skyblue;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.Clickable-field.button:disabled{
  background-color: var(--button_base_color_disabled);
 }


/* TODO: verificar esses estilos */



h1{
  margin-bottom: 25px;
}


.disciplinas{
  display: inline-flex;
  background-color: crimson;
  margin-top: 1px;
  width: 9.9vw;

}

/* Layout para tablets */

.grid-container{
  display: flex;
  flex-direction: column;
  background-color: var(--waikawa-gray-900);
  /* background-color: var(--waikawa-gray-950); */
  /* min-height: 100vh; */
  width: 90vw;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.grid-content-container{
  padding-left: 10px;
  /* background-color: aliceblue; */ /* Para testes*/
  margin: 5px 7px;
}

/* Layout para celulares */
@media only screen and (max-width: 450px) {



  .grid-content-container{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }
}

/* Layout para desktops com tela acima de 1224px de largura */
@media only screen and (min-width: 1224px) {

  .grid-container{
    display: flow-root;
    background-color: var(--waikawa-gray-950);
    min-height: 47vh;
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  }

  .grid-content-container{
    display:inline-flex;
    position: relative;
  }
}