.grid-header {
  /* background-color: var(--filter_field_bg_color); */
  /* background-color: yellow; */
  display: flex;
  min-height: 10vh;
  /* width: 88vw; */
  margin: 10px;
  padding-top: 5px;
  /* padding-bottom: -5px; */
  margin-left: 20px;
  align-items: center;
  border: 0px;
  border-bottom: 1px;
  border-width: 70%;
  border-style: solid;
  border-bottom-color: var(--waikawa-gray-500);
  /* justify-content: center; */
  /* border-radius: 15px; */
  /* box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5); */
}

/* Layout para celulares */
@media only screen and (max-width: 450px) {
  .grid-header {
    width: 100%;
    margin: 10px;
    padding:0;
    flex-wrap: wrap;
    justify-content: center;
    border: 0px;
  }
}
